@mixin mod-size() {
  &_size_small {
    height: $input-height-small;
    padding: $main-padding-small-vertical $main-padding-small-horizontal;
  }

  &_size_large {
    height: $input-height-large;
    padding: $main-padding-large-vertical $main-padding-large-horizontal;
  }
}