//===== BASE FONT =====
$typography-font-size-base:                         $global-font-root-size !default;
$typography-line-height-base:                       $global-font-root-line-height !default;
$typography-font-size-multiplier:                   1.414 !default; //1.414 — Augmented Fourth - http://type-scale.com/
$typography-line-height-computed:                   $global-rhythm !default;

//===== SIZES =====
$typography-h1:                                     (scale: 4, top: 2, bottom: 1);
$typography-h2:                                     (scale: 3, top: 2, bottom: 1);
$typography-h3:                                     (scale: 2, top: 1, bottom: 1);
$typography-h4:                                     (scale: 1, top: 1, bottom: 1);
$typography-h5:                                     (scale: 0, top: 1, bottom: 1);
$typography-h6:                                     (scale: -1, top: 1, bottom: 1);
$typography-large:                                  (scale: 1, top: 1, bottom: 1);
$typography-small:                                  (scale: -2, top: 1, bottom: 1);

//===== HEADINGS =====
$typography-headings-font-weight:                   500 !default;
$typography-headings-color:                         $global-color-text-header !default;

//===== BLOCKQUOTE =====
$typography-blockquote:                             (scale: 1, top: 1, bottom: 1) !default;
$typography-blockquote-color:                       #6f6f6f !default;
$typography-blockquote-border-color:                $global-border-color !default;

//===== SMALL & MARK =====
$typography-small-color:                            $global-color-text-small !default;
$typography-mark-bg-color:                          #fdf8da !default;

//===== CODE =====
$typography-code-color:                             #2a7eed !default;
$typography-code-bg-color:                          #bcdbed !default;

//===== KBD =====
$typography-kbd-color:                              #fff !default;
$typography-kbd-bg-color:                           #333 !default;

//===== PRE =====
$typography-pre-color:                              #414141 !default;
$typography-pre-bg-color:                           #f9f9f9 !default;
$typography-pre-border-color:                       $global-border-color !default;
$typography-pre-border-width:                       1px !default;