$tables-caption-padding:                            rhythm(0.5) !default;
$tables-caption-color:                              $global-color-text-muted !default;
$tables-margins-vert:                               rhythm(1) !default;

$tables-bg:                                         transparent !default;
$tables-border-color:                               $global-border-color !default;

$tables-head-color:                                 $global-color-text-header !default;
$tables-head-line-height:                           rhythm(1) !default;
$tables-head-padding-vert:                          0 !default;
$tables-head-padding-hor:                           rhythm(0.5) !default;
$tables-head-border-bottom-width:                   2px !default;

$tables-cell-padding-vert:                          rhythm(0.5) !default;
$tables-cell-padding-hor:                           rhythm(0.5) !default;
$tables-cell-border-top-width:                      1px !default;
$tables-cell-line-height:                           rhythm(1) !default;