@import 'mixins/grid';
$block: grid;

.#{$block} {
  padding-left: $grid-gutter / 2;
  padding-right: $grid-gutter / 2;
  @include clearfix;

  &_edge {
    padding-left: 0;
    padding-right: 0;
  }

  &__row {
    @include clearfix;

    &_padding_bottom {
      margin-bottom: $grid-gutter / 2;
    }
  }
}

//columns
[class*="#{$block}__col"] {
  position: relative;
  min-height: 1px; //fix for empty cells
  width: 100%;
  float: left;
  padding: 0 $grid-gutter / 2;
}

@include grid-columns($block, 'xs', 'sm');
@include grid-columns($block, 'sm', 'md');
@include grid-columns($block, 'md', 'lg');
@include grid-columns($block, 'lg');