html {
  position: relative;
  min-height: 100%; }

body {
  height: 100%; }

.vertical-rhythm-toggler {
  position: fixed;
  top: 24px;
  left: 24px;
  height: 48px;
  padding: 0 24px;
  z-index: 100; }
  .vertical-rhythm-toggler_enabled .vertical-rhythm-toggler__icon_type_on {
    display: inline-block; }
  .vertical-rhythm-toggler_enabled .vertical-rhythm-toggler__icon_type_off {
    display: none; }
  .vertical-rhythm-toggler_disabled .vertical-rhythm-toggler__icon_type_on {
    display: none; }
  .vertical-rhythm-toggler_disabled .vertical-rhythm-toggler__icon_type_off {
    display: inline-block; }

.vertical-rhythm-guidelines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: -webkit-linear-gradient(rgba(0, 255, 255, 0.5) 0%, transparent 5%, transparent 100%);
  background-image: linear-gradient(rgba(0, 255, 255, 0.5) 0%, transparent 5%, transparent 100%);
  background-repeat: repeat;
  background-size: 100% 24px; }
  .vertical-rhythm-guidelines_disabled {
    display: none; }

.demo-section__header {
  color: #818181;
  margin-top: 72px;
  padding-bottom: 6px;
  border-bottom: 2px solid #f1f1f1;
  margin-bottom: 40px; }

.demo-section__subheader {
  color: #5a5a5a;
  padding-left: 24px;
  border-left: 3px solid #f1f1f1; }

.demo-about {
  max-width: 50%;
  margin: 48px auto;
  font-size: 24px;
  line-height: 48px;
  text-align: center; }

.demo-footer {
  margin: 0;
  overflow: hidden; }
  .demo-footer__github-buttons,
  .demo-footer__created {
    font-size: 14px;
    margin: 24px 0;
    line-height: 24px;
    vertical-align: middle; }
  .demo-footer__github-buttons {
    float: left; }
  .demo-footer__created {
    float: right; }

.demo-items {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 200px; }
  .demo-items__button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    color: #fff;
    border: #232323;
    background-color: #222;
    text-align: left; }
    .demo-items__button:focus,
    .demo-items__button:hover {
      background-color: #282828;
      outline: none; }
  .demo-items__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5); }
    .demo-items__list_state_show {
      display: block; }
  .demo-items__list-link {
    display: block;
    padding: 10px;
    color: #fff; }
    .demo-items__list-link:hover,
    .demo-items__list-link:focus {
      color: #f1f1f1;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.3); }

.demo-width-container {
  max-width: 1400px;
  margin: 0 auto; }

#demo-grid .width-container {
  position: relative;
  background-color: #f6f6f6;
  padding-top: 20px;
  margin-bottom: 20px; }
  #demo-grid .width-container:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 4px 10px;
    content: '.width-container';
    font-size: 12px;
    font-weight: bold;
    background-color: #ebebeb;
    color: #8b8b8b; }

#demo-grid .grid__row {
  margin-bottom: 20px; }
  #demo-grid .grid__row .grid__row {
    margin-bottom: 0; }

#demo-grid .grid__row [class*="grid__col"] {
  background-color: #e8e8e8;
  padding: 10px;
  border: 1px solid #d3d3d3; }

#demo-grid .grid__row.grid__row-demo-header [class*="grid__col"] {
  background: none;
  padding: 0;
  border: none; }

@media (max-width: 1400px) {
  .demo-width-container {
    margin: 0 15px; } }

/*# sourceMappingURL=demo.css.map */
