.demo .grid__row {
    margin-bottom: 20px;
}

.demo .grid__row .grid__row {
    margin-bottom: 0;
}

.demo [class*="grid__col"] {
    background-color: #e8e8e8;
    padding: 10px;
    border: 1px solid #d3d3d3;
}
