@import '../src/variables';
@import '../src/common/functions';

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

.vertical-rhythm-toggler {
  position: fixed;
  top: rhythm(1);
  left: rhythm(1);
  height: rhythm(2);
  padding: 0 rhythm(1);
  z-index: 100;

  &_enabled {
    .vertical-rhythm-toggler__icon_type_on {
      display: inline-block;
    }

    .vertical-rhythm-toggler__icon_type_off {
      display: none;
    }

  }

  &_disabled {
    .vertical-rhythm-toggler__icon_type_on {
      display: none;
    }

    .vertical-rhythm-toggler__icon_type_off {
      display: inline-block;
    }
  }
}

.vertical-rhythm-guidelines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 255, 255, 0.5) 0%, transparent 5%, transparent 100%);
  background-repeat: repeat;
  background-size: 100% $global-rhythm;

  &_disabled {
    display: none;
  }
}


.demo-section {
  //padding: 0 rhythm(2);

  &__header {
    color: #818181;
    margin-top: rhythm(3);
    padding-bottom: rhythm(0.25);
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: rhythm(1.75) - 2px;
  }

  &__subheader {
    color: #5a5a5a;
    padding-left: rhythm(1);
    border-left: 3px solid #f1f1f1;
  }
}

.demo-about {
  max-width: 50%;
  margin: rhythm(2) auto;
  font-size: rhythm(1);
  line-height: rhythm(2);
  text-align: center;
}

.demo-footer {
  margin: 0;
  overflow: hidden;

  &__github-buttons,
  &__created {
    font-size: 14px;
    margin: rhythm(1) 0;
    line-height: rhythm(1);
    vertical-align: middle;
  }

  &__github-buttons {
    float: left;

  }

  &__created {
    float: right;
  }
}






//
//.demo-example {
//  padding: 10px 20px;
//  margin-bottom: 20px;
//
//  border: 1px solid #eaeaea;
//  background-color: #fbfbfb;
//  border-radius: 5px;
//
//  &_no-bg {
//    background-color: transparent;
//  }
//}

.demo-items {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 200px;

  &__button {
    display: block;
    width: 100%;
    color: #fff;
    border: #232323;
    background-color: #222;
    text-align: left;

    &:focus,
    &:hover {
      background-color: #282828;
      outline: none;
    }
  }

  &__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);

    &_state_show {
      display: block;
    }
  }

  &__list-link {
    display: block;
    padding: rhythm(0.5);
    color: #fff;

    &:hover,
    &:focus {
      color: #f1f1f1;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.3);

    }
  }
}

#demo-grid {
  $grid-margins: rhythm(1);

  //.width-container {
  //  position: relative;
  //  background-color: #f6f6f6;
  //  padding-top: $grid-margins;
  //  margin-bottom: $grid-margins;
  //
  //  &:before {
  //    position: absolute;
  //    top: 0;
  //    left: 0;
  //    display: block;
  //    padding: 4px 10px;
  //    content: '.width-container';
  //    font-size: 12px;
  //    font-weight: bold;
  //    background-color: #ebebeb;
  //    color: #8b8b8b;
  //  }
  //}

  .grid__row {
    margin-bottom: $grid-margins;

    .grid__row {
      margin-bottom: 0;
    }
  }

  .grid {
    [class*="grid__col"] {

    }
  }

  .grid__col {
    $border-width: 1px;

    background-color: #e8e8e8;
    border: $border-width solid #d3d3d3;
    min-height: rhythm(4);
    padding: rhythm(1) - $border-width;
  }

  .grid.grid-demo-header {
    [class*="grid__col"] {
      background: none;
      border: none;
    }
  }
}

