.demo-section {
  &__header {
    color: #818181;
    padding-bottom: 10px;
    margin-top: 60px;
    border-bottom: 2px solid #f1f1f1;
  }

  &__subheader {
    color: #5a5a5a;
    padding-left: 10px;
    border-left: 3px solid #f1f1f1;
  }
}

.demo-example {
  padding: 10px 20px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
  background-color: #fbfbfb;
  border-radius: 5px;

  > *:last-child {
    margin-bottom: 0;
  }

  &_no-bg {
    background-color: transparent;
  }
}

.demo-items {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 200px;

  &__button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    color: #fff;
    border: #232323;
    background-color: #222;
    text-align: left;

    &:focus,
    &:hover {
      background-color: #282828;
      outline: none;
    }
  }

  &__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);

    &_state_show {
      display: block;
    }
  }

  &__list-link {
    display: block;
    padding: 10px;
    color: #fff;

    &:hover,
    &:focus {
      color: #f1f1f1;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.3);

    }
  }
}

.demo-width-container {
  max-width: 1400px;
  margin: 0 auto;
}

#demo-grid {
  $grid-margins: 20px;

  .width-container {
    position: relative;
    background-color: #f6f6f6;
    padding-top: $grid-margins;
    margin-bottom: $grid-margins;
    
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      padding: 4px 10px;
      content: '.width-container';
      font-size: 12px;
      font-weight: bold;
      background-color: #ebebeb;
      color: #8b8b8b;
    }
  }

  .grid__row {
    margin-bottom: $grid-margins;

    .grid__row {
      margin-bottom: 0;
    }
  }

  .grid__row {
    [class*="grid__col"] {
      background-color: #e8e8e8;
      padding: 10px;
      border: 1px solid #d3d3d3;
    }
  }

  .grid__row.grid__row-demo-header {
    [class*="grid__col"] {
      background: none;
      padding: 0;
      border: none;
    }
  }
}

//media
@media (max-width: 1400px) {
  .demo-width-container {
    margin: 0 15px;
  }
}