@mixin text-calc($heading-map) {
  $scale: map_get($heading-map, 'scale');

  font-size: text-scale($scale);
  line-height: text-line-height-rhythm($scale);
  margin-top: rhythm(map_get($heading-map, 'top'));
  margin-bottom: rhythm(map_get($heading-map, 'bottom'));
}