@import
  'utils/functions/shade',
  'utils/functions/tint';

//===== COLORS =====
$theme-color-primary:                       #3ea3d7 !default;
$theme-color-success:                       #6bc160 !default;
$theme-color-warning:                       #f09e46 !default;
$theme-color-danger:                        #e85d4d !default;
$theme-color-info:                          #47b6de !default;

$text-main: #202020 !default;
$text-header: #272727 !default;
$text-small: #2e2e2e !default;
$text-muted:                                #999 !default;

//===== HELPERS =====
$z-index: (
  'dropdown':                               1000,
  'popover':                                1060,
  'tooltip':                                1070,
  'modal':                                  1040,
) !default;

//===== RESPONSIVENESS =====
$breakpoints: (
  'xs':                                     480px,
  'sm':                                     768px,
  'md':                                     992px,
  'lg':                                     1200px,
) !default;


//===== COMPONENTS =====
//grid
$grid-columns:                              12 !default;
$grid-gutter:                               30px !default;
$grid-containers: (
  'xs':                                     auto,
  'sm':                                     720 + $grid-gutter,
  'md':                                     940 + $grid-gutter,
  'lg':                                     1140 + $grid-gutter,
) !default;


//===== GLOBAL =====
$main-bg-color:                           #fff !default;
$main-border-color:                       #e6e6e6 !default;
$main-outline-color:                      $theme-color-primary !default;

$main-font-family:                        'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$main-font-size:                          14px !default;
$main-line-height:                        1.428571429 !default;
$main-line-height-small:                  1.5 !default;
$main-line-height-large:                  1.3333333 !default;

$main-border-radius:                      3px !default;
$main-border-radius-small:                5px !default;
$main-border-radius-large:                2px !default;


$main-padding-base-vertical:              6px !default;
$main-padding-base-horizontal:            12px !default;
$main-padding-small-vertical:             3px !default;
$main-padding-small-horizontal:           8px !default;
$main-padding-large-vertical:             10px !default;
$main-padding-large-horizontal:           16px !default;


//===== PARTS =====
//typography
$typography-font-family-sans-serif:         $main-font-family !default;
$typography-font-family-serif:              Georgia, 'Times New Roman', Times, serif !default;
$typography-font-family-monospace:          Menlo, Monaco, Consolas, 'Courier New', monospace !default;

$typography-font-size-base:                 $main-font-size !default;
$typography-font-size-large:                ceil(($typography-font-size-base * 1.25)) !default; // ~18px
$typography-font-size-small:                ceil(($typography-font-size-base * 0.85)) !default; // ~12px
$typography-font-size-h1:                   floor(($typography-font-size-base * 2.6)) !default;
$typography-font-size-h2:                   floor(($typography-font-size-base * 2.15)) !default;
$typography-font-size-h3:                   ceil(($typography-font-size-base * 1.7)) !default;
$typography-font-size-h4:                   ceil(($typography-font-size-base * 1.25)) !default;
$typography-font-size-h5:                   $typography-font-size-base !default;
$typography-font-size-h6:                   ceil(($typography-font-size-base * 0.85)) !default;

$typography-line-height-base:               $main-line-height !default; // 20/14
$typography-line-height-computed:           floor(($typography-line-height-base * $typography-font-size-base)) !default;

$typography-headings-font-family:           inherit !default;
$typography-headings-font-weight:           500 !default;
$typography-headings-line-height:           1.1 !default;
$typography-headings-color:                 $text-header !default;

$typography-blockquote-font-size:           $typography-font-size-base * 1.2 !default;
$typography-blockquote-line-height:         floor($typography-line-height-base * 1.2) !default;
$typography-blockquote-border-color:        #eee !default;

$typography-small-color:                    tint($text-main, 30%) !default;
$typography-mark-bg-color:                  #fdf8da !default;

$typography-code-color: #2a7eed !default;
$typography-code-bg-color:                  #bcdbed !default;

$typography-kbd-color:                      #fff !default;
$typography-kbd-bg-color:                   #333 !default;

$typography-pre-color:                      #414141 !default;
$typography-pre-bg-color:                   #f9f9f9 !default;
$typography-pre-border-color:               #e4e4e4 !default;


//links
$link-color:                                shade($theme-color-primary, 10%) !default;
$link-color-hover:                          shade($link-color, 20%) !default;
$link-color-focus:                          shade($link-color, 10%) !default;
$link-color-active:                         shade($link-color, 40%) !default;
$link-decoration:                           none !default;
$link-decoration-hover:                     underline !default;
$link-decoration-focus:                     underline !default;
$link-decoration-active:                    underline !default;


//forms
$input-bg:                                  #fff !default;
$input-bg-disabled:                         #f0f0f0 !default;

$input-color:                               #555 !default;
$input-color-disabled:                      tint($input-color, 15%) !default;
$input-color-placeholder:                   #999 !default;

$input-shadow:                              none !default;
$input-shadow-hover:                        inset 0 0 5px rgba(0, 0, 0, .2) !default;
$input-shadow-focus:                        inset 0 0 5px rgba(0, 0, 0, .1), 0 0 6px rgba($theme-color-primary, .5) !default;
$input-shadow-disabled:                     inset 0 1px 0 0 rgba(0, 0, 0, .15) !default;

$input-border:                              #cbcbcb !default;
$input-border-disabled:                     tint($input-border, 15%) !default;
$input-border-hover:                        tint($theme-color-primary, 25%) !default;
$input-border-focus:                        tint($theme-color-primary, 10%) !default;

$input-border-radius:                       $main-border-radius !default;
$input-border-radius-large:                 $main-border-radius-large !default;
$input-border-radius-small:                 $main-border-radius-small !default;

$input-height-base:                         ($typography-line-height-computed + ($main-padding-base-vertical * 2) + 2) !default;
$input-height-large:                        (ceil($typography-font-size-large * $main-line-height-large) + ($main-padding-large-vertical * 2) + 2) !default;
$input-height-small:                        (floor($typography-font-size-small * $main-line-height-small) + ($main-padding-small-vertical * 2) + 2) !default;

$legend-color:                              #333 !default;
$legend-border-color:                       #e5e5e5 !default;

//tables
$table-cell-padding:                        8px !default;
$table-bg:                                  transparent !default;
$table-bg-accent:                           #f9f9f9 !default;
$table-bg-hover:                            #f5f5f5 !default;
$table-bg-active:                           $table-bg-hover !default;
$table-border-color:                        #ddd !default;

//buttons
$button-font-weight:                        normal !default;
$button-border-width:                       1px !default;

  //buttons styles
  //default
  $button-default-color:                    #555 !default;
  $button-default-color-hover:              $button-default-color !default;
  $button-default-color-focus:              $button-default-color !default;
  $button-default-color-active:             $button-default-color !default;
  $button-default-color-disabled:           tint($button-default-color, 30%) !default;

  $button-default-bg:                       #fff !default;
  $button-default-bg-hover:                 shade($button-default-bg, 5%) !default;
  $button-default-bg-focus:                 shade($button-default-bg, 3%) !default;
  $button-default-bg-active:                shade($button-default-bg, 7%) !default;
  $button-default-bg-disabled:              shade($button-default-bg, 3%) !default;

  $button-default-border:                   #ccc !default;
  $button-default-border-hover:             shade($button-default-border, 4%) !default;
  $button-default-border-focus:             shade($button-default-border, 8%) !default;
  $button-default-border-active:            shade($button-default-border, 7%) !default;
  $button-default-border-disabled:          tint($button-default-border, 40%) !default;

  //primary
  $button-primary-color:                    #fff !default;
  $button-primary-color-hover:              $button-primary-color !default;
  $button-primary-color-focus:              $button-primary-color !default;
  $button-primary-color-active:             $button-primary-color !default;
  $button-primary-color-disabled:           shade($button-primary-color, 10%) !default;

  $button-primary-bg:                       $theme-color-primary !default;
  $button-primary-bg-hover:                 shade($button-primary-bg, 12%) !default;
  $button-primary-bg-focus:                 shade($button-primary-bg, 7%) !default;
  $button-primary-bg-active:                shade($button-primary-bg, 20%) !default;
  $button-primary-bg-disabled:              tint($button-primary-bg, 30%) !default;

  $button-primary-border:                   shade($theme-color-primary, 20%) !default;
  $button-primary-border-hover:             shade($button-primary-border, 12%) !default;
  $button-primary-border-focus:             shade($button-primary-border, 7%) !default;
  $button-primary-border-active:            shade($button-primary-border, 20%) !default;
  $button-primary-border-disabled:          tint($button-primary-border, 30%) !default;