html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: none; // You need implement own focus styles
}

body {
  color: $text-main;
  background-color: $main-bg-color;
}

figure {
  margin: 0;
}

img {
  //responsivness images
  max-width:100%;
  height:auto;

  vertical-align: middle;
}