@import '../utils/mixins/internal/button-style';

.button {
  height: $input-height-base;
  padding: $main-padding-base-vertical $main-padding-base-horizontal;
  border-width: $button-border-width;
  border-style: solid;
  border-radius: $main-border-radius;

  //types
  &_type_block {
    display: block;
    width: 100%;

    & + & {
      margin-top: $input-height-base / 2;
    }
  }

  //sizes
  @include mod-size();

  //styles
  @include button-style(
    $button-default-color, $button-default-color-hover, $button-default-color-focus, $button-default-color-active, $button-default-color-disabled,
    $button-default-bg, $button-default-bg-hover, $button-default-bg-focus, $button-default-bg-active, $button-default-bg-disabled,
    $button-default-border, $button-default-border-hover, $button-default-border-focus, $button-default-border-active, $button-default-border-disabled
  );
  
  &_style_primary {
    @include button-style(
      $button-primary-color, $button-primary-color-hover, $button-primary-color-focus, $button-primary-color-active, $button-primary-color-disabled,
      $button-primary-bg, $button-primary-bg-hover, $button-primary-bg-focus, $button-primary-bg-active, $button-primary-bg-disabled,
      $button-primary-border, $button-primary-border-hover, $button-primary-border-focus, $button-primary-border-active, $button-primary-border-disabled
    );
  }
}



//.btn-lg {
//  // line-height: ensure even-numbered height of button next to large input
//  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
//}
//.btn-sm {
//  // line-height: ensure proper height of button next to small input
//  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
//}
//.btn-xs {
//  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
//}
