code,
kbd,
pre,
samp {
  font-family: $typography-font-family-monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: $typography-code-color;
  background-color: $typography-code-bg-color;
  border-radius: $main-border-radius;
  vertical-align: middle;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: $typography-kbd-color;
  background-color: $typography-kbd-bg-color;
  border-radius: $main-border-radius;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: none;
  }
}

pre {
  display: block;
  padding: ($typography-line-height-computed - 1) / 2;
  margin: 0 0 $typography-line-height-computed / 2;
  font-size: $typography-font-size-base - 1;
  line-height: $typography-line-height-base;
  word-break: break-all;
  word-wrap: break-word;
  color: $typography-pre-color;
  background-color: $typography-pre-bg-color;
  border: 1px solid $typography-pre-border-color;
  border-radius: $main-border-radius;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}